node_modules

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Local SSL Certificates
localhost+1.pem
localhost+1-key.pem

# Only ignore vite.config.ts if it contains absolute paths or secrets
vite.config.ts
#// Example snippet inside vite.config.ts
# export default defineConfig({
#   server: {
#     https: {
#       key: process.env.VITE_SSL_KEY,
#       cert: process.env.VITE_SSL_CERT,
#     },
#   },
# })


#add localhost path to .env
# VITE_SSL_KEY=./localhost+1-key.pem
# VITE_SSL_CERT=./localhost+1.pem