@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
